:root {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    line-height: 1.6;
    color: #4c4f69;
    font-size: 16px;
}

html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #eff1f5;
}

.container {
    margin: 0;
    padding: 8px;
    min-width: min(800px, 95vw);
}

h1,
p {
    text-align: center;
}

h2 {
    margin-bottom: 0.1em;
}

textarea {
    all: unset;
    width: calc(100% - 10px);
    min-height: 300px;
    resize: vertical;
    white-space: pre;
    padding: 4px;
    background-color: #ccd0da;
    border: 1px solid #ccd0da;
    border-radius: 0px 6px 0px 6px;
}

textarea:focus {
    border: 1px solid #acb0be;
}
